body {
  margin: 0;
}
section {
  margin-top: 10px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.jobDetails {
  visibility: hidden;
  display: none;
}

.jobNumbers:hover {
  cursor: pointer;
}
.jobNumbers:hover .jobDetails {
  visibility: visible;
  display: block;
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  background: #ffff45;
  transition: 0.4s;
  text-align: left;
  left: 450px;
  font-size: 85%;
  z-index: 10;
}

tbody {
  overflow: scroll;
}

tr:hover{
  cursor: pointer;
  z-index: 10;
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

thead th:first-child {
  left: 0;
  z-index: 4;
}
thead th:nth-child(2) {
  left: 95px;
  z-index: 4;
}
tr > :first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 3;
}
tr > :nth-child(2) {
  position: -webkit-sticky;
  position: sticky;
  left: 95px;
  z-index: 3;
}
td {
  white-space: nowrap;
  border: 1px solid rgba(0, 0, 0, 0.677);
  padding: 1px 2px;
}


.table-container span {
  height: 100%;
  width: 100%;
  display: block;
  overflow: auto;
  padding: 10px;
}
