body {
  margin: 0;
}
.table-container {
  zoom: 75%;
}

.jobDetails {
  visibility: hidden;
  display: none;
}

.jobNumbers:hover {
  cursor: pointer;
}
.jobNumbers:hover .jobDetails {
  visibility: visible;
  display: block;
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  background: #ffff45;
  transition: 0.4s;
  text-align: left;
  left: 135px;
}

tbody {
  overflow: scroll;
}

tr:hover {
  cursor: pointer;
  z-index: 10;
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

thead th:first-child {
  left: 0;
  z-index: 4;
}
thead th:nth-child(2) {
  left: 125px;
  z-index: 4;
}
tr > :first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 3;
}
tr > :nth-child(2) {
  position: -webkit-sticky;
  position: sticky;
  left: 125px;
  z-index: 2;
}

@keyframes rightSlide {
  from {
    opacity: 0;
    transform: translateX(-600px);
  }
  to {
    opacity: 100;
    transform: translateX(0px);
  }
}

td {
  white-space: nowrap;
  border: 1px solid rgba(120, 120, 120, 0.46);
  padding: 0px;
}

.table-container span {
  display: block;
  overflow: auto;
}

.hold-for-customer {
  background-color: #ff0000d5;
  color: #ffffff;
}
.waiting-for-material,
.increq {
  background-color: #ffff00;
}
.customer-witness {
  background-color: #2ef107;
}
.hold-for-ta {
  background-color: #7030a0;
  color: #ffffff;
}
.blank {
  background: transparent;
}

.completed {
  /* filter: contrast(0) sepia(100%) hue-rotate(126deg) brightness(1.4)
    saturate(0.18); */
  opacity: 0;
  border-left: transparent;
  border-right: transparent;
}

.pop-up-window {
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 0 .5em 1.5em rgba(0, 0, 0, .1), 0 .5em 1.5em rgba(0, 0, 0, .1);
}
