#Details {
  position: absolute;
  z-index: 100;
  padding: 15px;
  border-radius: 10px;
  background: #ffff45;
  transition: 0.1s;
  text-align: left;
  max-height: 600px;
  overflow-y: scroll;
  z-index: 100;
  left: 175px;
  top: 50px;
  font-size: 85%;
}
.mbsc-range-label-clear {
  display: none;
}

#jobNumber:hover {
  cursor: pointer;
}

section {
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

pre {
  font-size: inherit;
  font-family: inherit;
}

.critical {
  color: #ffbf36;
}

.late {
  color: #ea868f;
}

.reportcontainer {
  margin-top: 30px;
  font-size: 14px;
  height: 40vh;
  overflow-y: scroll;
}
.reportcontainer:hover {
  height: 97vh;
  position: fixed;
  top: -10px;
  right: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 200;
}

.nextcontainer {
  background: rgba(255, 255, 255, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.nextcontainer .btn {
  opacity: 20%;
  scale: 0.8;
}

.nextcontainer .btn:hover {
  opacity: 100%;
}

.operationDetail {
  visibility: hidden;
  display: none;
}

.jobNumber-op:hover{
  cursor: pointer;
}
.jobNumber-op:hover .operationDetail {
  visibility: visible;
  display: block;
  z-index: 100;
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  background: #ffff45;
  transition: 0.4s;
  text-align: left;
  left: 175px;
  font-size: 85%;
}
