{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>{{title}}</title> -->
    {% if title%}
    <title>{{title}}</title>
    {% elif message%}
    <title>Invalid Work Order</title>
    {% else %}
    <title>Live</title>
    {% endif%}

    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://bootswatch.com/5/cosmo/bootstrap.css"
    />
    <link rel="stylesheet" href="{% static 'hp/main.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'workOrderReports/workOrder.css' %}"
    />

    <link rel="icon" type="image/x-icon" href="{% static 'hp/lgo.ico' %}" />

    <!-- <link rel="stylesheet" href="base.css" /> -->
  </head>
  <body>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg d-flex justify-content-between navbar">
      <div class="d-flex justify-content-between" style="align-items: center">
        <a
          data-bs-toggle="offcanvas"
          data-bs-target="#staticBackdrop"
          aria-controls="staticBackdrop"
          style="cursor: pointer"
        >
          <img
            src="{% static 'hp/logo.jpg' %}"
            alt="Logo"
            class="d-inline-block align-text-top"
        /></a>
      </div>
      <div class="d-flex justify-content-center">
        <!-- <ul
          class="nav justify-content-center"
          style="visibility: visible; justify-content: end"
        >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul> -->
      </div>

      {% if user.is_authenticated %}
      <div
        class="d-flex justify-content-center search-container"
        style="align-items: center"
      >
        <form
          action="{% url 'workOrderReport' %}"
          method="get"
          class="d-flex"
          role="search"
        >
          <div class="search-box">
            <div class="src-row">
              <input
                class="form-control me-2"
                type="text"
                id="sreachbox"
                placeholder="Search For A Work Order"
                autocomplete="off"
                name="search-for-work-order"
              />
            </div>
            <div class="result-box"></div>
          </div>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      {% endif%}
      <!-- <div style="display: flex; align-items: center;"> <img src="modules/hp/profile-user.png" alt="" style="width: 30px;"><span class="ml-1">USERNAME</span></div> -->
    </nav>

    {% if messages %} {% for message in messages%}
    <div class="position-fixed bottom-0 end-0 p-3 tc" id="toast">
      <div class="toast-header">
        <img
          src="{% static 'hp/lgo.png' %}"
          style="width: 30px; filter: brightness(0)"
          class="rounded me-2"
          alt="..."
        />
        <strong class="message-heading">Live Alerts</strong>
        <small>{{ message.time}}</small>
        <p type="button" class="exit-button" onclick="mclose();">X</p>
      </div>
      <div class="toast-body">
        <div class="message-para">{{message}}</div>
      </div>
    </div>
    {% endfor%} {% endif%} {% if user.is_authenticated %}
    <div
      class="offcanvas offcanvas-start"
      style="width: 175px"
      data-bs-backdrop="static"
      tabindex="-1"
      id="staticBackdrop"
      aria-labelledby="staticBackdropLabel"
    >
      <div
        class="offcanvas-header"
        style="display: flex; justify-content: end; margin: 0"
      >
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          X
        </button>
      </div>
      <div class="offcanvas-body">
        <h1>
          <small style="font-size: 14px">Logged In User <br /></small
          >{{user.username}}
        </h1>

        <div>
          <button class="btn btn-outline-dark" type="submit">Upate</button>
          <button class="btn btn-outline-dark" type="submit">Home</button><br />
          <button class="btn btn-outline-dark" type="submit">
            Live Tracker
          </button>
          <br />
          <button class="btn btn-outline-dark" type="submit">Schedules</button>
          <button class="btn btn-outline-dark" type="submit">FUNCTIONK</button>
          <button class="btn btn-outline-dark" type="submit">FUNCTION!</button>
        </div>
        <div>
          <button class="btn btn-outline-warning" type="submit">
            About Live
          </button>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="btn btn-outline-danger" type="submit">logout</button>
          </form>
        </div>
      </div>
    </div>

    {% else %} {% block login %} {% endblock %} {% endif%}

    <div class="continer-fluid main">
      <!-- <h1 class="displ">
        Live <br />
        V4
      </h1>
      <div class="container d-flex justify-content-center" style="height: 55vh">
        <a href="https://moderntemplate.site" target="_blank" rel="noopener"
          >WebSite</a
        >
        <a href="https://moderntemplate.site" target="_blank" rel="noopener"
          >WebSite1</a
        >
      </div>

      <h1>s</h1>
    </div> -->
      {% block contentlogout %} {% endblock %} {% block content %} 
      {% endblock%} {% block contentt %} {% endblock %}
    </div>
    <footer class="d-flex justify-content-center footer">
      <a href="http://jashandeep.co.uk"
        >© 2024. All rights reserved jashandeep.co.uk</a
      >
    </footer>
    <!-- form container -->
    <script>
      let workorders={{sList|safe}}
    </script>
    <script src="{% static 'workOrderReports/Autocomplete.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      function mclose() {
        const messageBox = document.getElementById("toast");
        messageBox.remove();
      }
    </script>

   
  </body>
</html>
<!--  -->
