{% extends 'login/login.html' %} {% load crispy_forms_tags %} {% block content%}
{% load static %}
<div class="container">
  <legend class="border-bottom mb-4">Create Account</legend>
  <div class="container">
    {% if messages %} {% for message in messages%}
    <div class="alert alert-{{ message.tags }}">{{message}}</div>
    <script type="text/javascript">
      InvalidForm();
    </script>
    {% endfor%} {% endif%}
  </div>
  <div class="card">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">{{form|crispy}}</fieldset>
      <div class="form-group">
        <button class="button type1" type="submit">
          <span class="btn-txt">Sign Up</span>
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
