{% extends 'hp/base.html' %} {% load static %} {% load crispy_forms_tags %} 
{% block contentlogout%}

<link rel="stylesheet" href="{% static 'blog/loginpage.css' %}">
<div class="container-fluid image-container">
</div>

<div class="card" id="card">
  <legend class="border-bottom mb-4">Create Account</legend>
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">{{form|crispy}}</fieldset>
    <div class="form-group">
      <button class="button type1" type="submit">
        <span class="btn-txt">Sign Up</span>
      </button>
    </div>
  </form>

  <div class="border-top tp-3" style="text-align: right; opacity: 80%">
    <small
      >Already Have An Account
      <a class="ml-2" href="{% url 'signIn' %}">Sign In</a></small
    >
  </div>
</div>
{% endblock %}
