{% extends 'hp/base.html' %} 
{% load static %} 
{% block content %}

<link rel="stylesheet" href="{% static 'worderTracker/tracker.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
<!-- <button onclick="convertAndSend()">Save</button> -->

  <div class="table-container" style="height: 100%; " >
    <table class="table table-striped table-hover" id="data-table" style="font-size: 14px; margin-bottom: 400px;">
      {% csrf_token %}
      <thead class="table-dark" style="vertical-align: middle;">
        <tr style="height: 50pt; font-weight: bold">
          <th scope="col" style="min-width: 125px;">WorkOrder</th>
          <th scope="col" style="min-width: 250px;">Customer</th>
          <th scope="col" style="width: 20px;">QTY</th>
          <th scope="col" style="width: 10px;">Due Date</th>
          <th scope="col" style="max-width:20px;" >Due In</th>
          <th scope="col" style="max-width:40px;font-size: 70%">Comp</th>
          <th style="font-size: 40%">Shipp' This Month</td>
          <th scope="col">TA</th>
          <th scope="col" style="min-width:350px;">Notes</th>
          <th scope="col" style="min-width:200px;" >Incoming Inspection</th>
          <th scope="col" style="min-width:40px;">ME</th>
          <th >PR</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          

        </tr>
      </thead>
  
      <tbody class="table-group-divider">
        
    
      {%for WO in WORKORDERS%}

      {% if WO == 1 %}
      <tr class="" style="height: 50px;"></tr>
      {% elif WO.jobNumber == 2 %}
      <tr  class="table-dark" style="font-size: 80%; padding: 0; border-top: solid rgb(107, 110, 110) 5px; border-bottom: solid rgb(107, 110, 110) 5px;">
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>
        <td style=" padding: 0;"></td>
        <td style=" padding: 0;"></td>
        <td id='splitter' style=" padding: 0;">{{WO.month}}</td>

      </tr>
      {% else %}
      <tr>
        <td class="jobNumbers fw-bold"> <div class="jobDetails"><pre>{{WO.des}}</pre></div>{{WO.jobNumber}}</td>
        <td class="fw-bold">{{WO.customer}}</td>
        <td class="fw-bold">{{WO.qty}}</td>

        <!-- Due Date -->
        <td>
          <input type="date" class="dueDate" value="{{WO.dueDate}}" id="{{WO.jobNumber}}-datepicker" name="dueDate" style="background-color: transparent; border: none; outline: none" onchange="writeDate('{{WO.jobNumber}}','{{WO.jobNumber}}-datepicker')"/>
        </td>

        <td id="due-in" class="bg-gradient fw-bold"> {{WO.dueDate}}</td>

        <!-- completed -->
        <td class="comp-per fw-bold" id="{{WO.jobNumber}}-completed" aria-label={{WO.estimatedHours}} aria-placeholder="{{WO.completedHours}}">20%</td>

        <!-- shipping This Month -->
        <td  style="width: 10px;">
            {% if WO.shippingThisMonth %}
            <input class="form-check-input shipping" name="shippingThisMonth" type="checkbox" value="none" aria-label="..."  style="width: 15px; height: 15px;" checked onclick="updateShippingThisMonth('{{WO.jobNumber}}','false')">
            {% else %}
            <input class="form-check-input shipping" name="shippingThisMonth" type="checkbox"  value="True" aria-label="..." style="width: 15px; height: 15px;" onclick="updateShippingThisMonth('{{WO.jobNumber}}','true')">
            {% endif%}
        </td>

        
        <td class="pl-2 pr-2">{{WO.TA}}</td>

        <!-- job NOTES -->
        <td style="padding: 0;">
            <input class="notes" id="{{WO.jobNumber}}-notes" type="text" list="notes-options" style="height:100%; width:100% ;display:block;overflow:auto;padding: 12px; text-align: center; border: none;" onchange="updateNotes('{{WO.jobNumber}}-notes','{{WO.jobNumber}}')" value="{{WO.notes1}}">
                <datalist id="notes-options">
                  {% for NOTE in jobNotes %}
                    <option value="{{NOTE.reasonCode}}">
                  {% endfor %}
                </datalist>
        </td>

        {% if WO.incomingInspection %}
          <td class="bg-warning" id="{{WO.jobNumber}}-inc" onclick="updateIncomingInspection('{{WO.jobNumber}}')">Incoming Inspection</td>
        {% else %}
          <td class="bg-success"  id="{{WO.jobNumber}}-inc" onclick="updateIncomingInspection('{{WO.jobNumber}}')"></td>
        {% endif%}

        <!-- MES -->
        <td style="padding:0px;">
          <input class="notes" id="{{WO.jobNumber}}-me" type="text" list="ME-options" style="height:100%; width:100% ;display:block;overflow:auto;padding: 10px; text-align: center; border: none; background: transparent;" value="{{WO.ME}}" onchange="updateME('{{WO.jobNumber}}-me','{{WO.jobNumber}}')">
              <datalist id="ME-options">
                {% for me in MEs %}
                <option value="{{me.intials}}">{{me.name}}</option>
                {% endfor %}
              </datalist>
        </td>
        <td >-</td>
        <!-- OPERATIONS -->
        {% for op in WO.ops %}
          <td id="{{WO.jobNumber}}-{{op.stepNumber}}" onclick="updateStatus('{{WO.jobNumber}}','{{op.stepNumber}}')" oncontextmenu="alert('heelo')" class="{{op.status}}" aria-placeholder="{{op.estimatedHours}}"  title="{{op.workCenter}}    {{op.stepNumber}} 

{{op.description}}

Est. Hours:   {{op.estimatedHours}}">
            {{op.workCenter}}</td>
        {% endfor %}
      </tr>
      {% endif %}
      
      {% endfor%}
    </tbody>
    </table>
  </div>
</div>
  
<script>
  if (document.addEventListener) {
  document.addEventListener('contextmenu', function(e) {
    e.preventDefault();
  }, false);
} else {
  document.attachEvent('oncontextmenu', function() {
    window.event.returnValue = false;
  });
}
</script>

<script src="{% static 'worderTracker/tracker.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock%}
