{% extends 'hp/base.html' %} 
{% load static %} 
{% block content %}

<link rel="stylesheet" href="{% static 'worderTracker/tracker.css' %}" />
<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

<!-- <button onclick="convertAndSend()">Save</button> -->

  <div class="table-container" >
    <table class="table table-striped" id="data-table">
      {% csrf_token %}
      <thead class="table-dark" style="vertical-align: middle; font-size: 70%;">
        <tr style="height: 50pt; font-weight: bold">
          <th scope="col" style="min-width: 125px;">WorkOrder</th>
          <th scope="col" style="min-width: 350px;">Customer</th>
          <th scope="col" style="width: 20px;">QTY</th>
          <th scope="col" style="width: 10px;">Due Date</th>
          <th scope="col" style="max-width:20px;" >Due In</th>
          <th scope="col" style="max-width:20px;font-size: 70%">Comp</th>
          <th style="font-size: 40%">Shipp' This Month</td>
          <th scope="col">TA</th>
          <th scope="col" style="min-width:350px;">Notes</th>
          <th scope="col" style="min-width:200px;" >Incoming Inspection</th>
          <th scope="col">ME</th>
          <th >PR</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          <th>OP010</th>
          

        </tr>
      </thead>
  
      <tbody class="table-group-divider" style="font-size: 12px;">
        
    
      {%for WO in WORKORDERS%}
      <tr>
        <td class="jobNumbers" title="{{WO.des}}">{{WO.jobNumber}}</td>
        <td class="">{{WO.customer}}</td>
        <td>{{WO.qty}}</td>
        <td><input type="date" class="dueDate" value="{{WO.dueDate}}" id="{{WO.jobNumber}}-datepicker" name="dueDate" style="background-color: transparent; border: none; outline: none" onchange="writeDate('{{WO.jobNumber}}','{{WO.jobNumber}}-datepicker')"/></td>
        <td style="padding: 0px;"> <span id="due-in" class="bg-gradient" style="height:100%; width:100% ;display:block;overflow:auto;padding: 10px;">{{WO.dueDate}}</span></td>
        <td>20%</td>
        <td  style="width: 10px;">
            {% if WO.shippingThisMonth %}
            <input class="form-check-input shipping" name="shippingThisMonth" type="checkbox" value="none" aria-label="..."  style="width: 15px; height: 15px;" checked onclick="updateShippingThisMonth('{{WO.jobNumber}}','false')">
            {% else %}
            <input class="form-check-input shipping" name="shippingThisMonth" type="checkbox"  value="True" aria-label="..." style="width: 15px; height: 15px;" onclick="updateShippingThisMonth('{{WO.jobNumber}}','true')">
            {% endif%}
        </td>
        <td class="pl-2 pr-2">{{WO.TA}}</td>
        <td style="padding: 0;"><input class="notes" id="{{WO.jobNumber}}-notes" type="text" style="height:100%; width:100% ;display:block;overflow:auto;padding: 12px; text-align: center; border: none;" onchange="updateNotes('{{WO.jobNumber}}-notes','{{WO.jobNumber}}')" value="{{WO.notes1}}"></td>
        <td class="bg-warning">Incoming Inspection</td>
        <td>JD</td>
        <td >-</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
    
      </tr>
      
      
      {% endfor%}
    </tbody>
    </table>
  </div>
</div>
  













<script src="{% static 'worderTracker/tracker.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock%}
