* {
  padding: 0;
  margin: 0;
}

body {
  /* background: radial-gradient(circle, yellow, orange); */
  background-color: #e0e0e0;
  font-family: "Montserrat", sans-serif;
}

nav {
  height: 8vh;
  align-items: center;
  background-color: rgba(255, 254, 254, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  position: fixed;
}

nav img {
  width: 120px;
  margin-left: 20px;
  filter: brightness(0);
}
.main {
  position: fixed;
  top: 8vh;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
}
table{
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
h1 {
  font-family: "Montserrat", sans-serif;
  color: #222;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  margin: 0.5rem 0;
  font-size: 3rem;
}

footer {
  position: fixed;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  top: 94%;
  right: 0;
  bottom: 0;
  left: 0;
}

footer a {
  text-decoration: none;
  display: block;
  margin: 0.5rem 0;
}

footer p {
  margin: 1rem 0;
}

.search-container {
  padding-left: 1%;
  padding-right: 5%;
}
.search-container input {
  width: 350px;
}


.offcanvas-body button{
  width: 100%;
  margin: 1%;
}

.tc{
  z-index: 300;
  border-radius: 20px;
  margin-right: 20px;
  position: absolute;
  padding: 0%;
}