{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>{{title}}</title> -->
    {% if title%}
    <title>LIVE | {{title}}</title>
    {% elif message%}
    <title>Invalid Work Order</title>
    {% else %}
    <title>Live</title>
    {% endif%}

    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'hp/main.css' %}" />
    <link rel="stylesheet" href="{% static 'workOrderReports/workOrder.css' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'hp/lgo.ico' %}" />
    <!-- <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.css"> -->

  </head>
  <body>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg d-flex justify-content-between navbar shadow-sm" id="nav-bar">
      <div class="d-flex justify-content-between" style="align-items: center">
        <a
          data-bs-toggle="offcanvas"
          data-bs-target="#staticBackdrop"
          aria-controls="staticBackdrop"
          style="cursor: pointer"
        >
          <img
            src="{% static 'hp/logo.png' %}"
            alt="Logo"
            class="d-inline-block align-text-top"
        /></a>
      </div>

      {% if user.is_authenticated %}
      <div
        class="d-flex justify-content-center search-container"
        style="align-items: center"
      >
        <form
          action="{% url 'workOrderReport' %}"
          method="get"
          class="d-flex"
          role="search"
        >
          <div class="search-box">
            <div class="src-row">
              <input
                class="form-control me-2"
                type="text"
                id="sreachbox"
                placeholder="Search For A Work Order"
                autocomplete="off"
                name="search-for-work-order"
              />
            </div>
            <div class="result-box"></div>
          </div>
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
      {% endif%}
      <!-- <div style="display: flex; align-items: center;"> <img src="modules/hp/profile-user.png" alt="" style="width: 30px;"><span class="ml-1">USERNAME</span></div> -->
    </nav>

    {% if messages %} {% for message in messages%}
    <div class="position-fixed bottom-0 end-0 p-3 tc shadow-lg m-3 border border-dark" id="toast">
      <div class="toast-header">
        <img
          src="{% static 'hp/lgo.png' %}"
          style="width: 30px; filter: brightness(0)"
          class="rounded me-2"
          alt="..."
        />
        <strong class="message-heading">Live Alerts</strong>
        <small>{{ message.time}}</small>
        <p
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
          onclick="mclose();"
        >
          X
        </p>
      </div>
      <div class="toast-body">
        <div class="message-para">{{message}}</div>
      </div>
    </div>
    {% endfor%} {% endif%} {% if user.is_authenticated %}
    <div
      class="offcanvas offcanvas-start text-center"
      style="width: 225px"
      data-bs-backdrop="static"
      tabindex="-1"
      id="staticBackdrop"
      aria-labelledby="staticBackdropLabel"
    >
      <div
        class="offcanvas-header"
        style="display: flex; justify-content: end; margin: 0"
      >
        <button
          type="button"
          class="btn btn-outline-danger"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          X
        </button>
      </div>
      <div class="offcanvas-body">
        <center>
          <h4 class="display-7">
            <small style="font-size: 14px">Logged In User</small>
            <br />{{user.first_name}}
            <span class="display-6">{{user.last_name}}</span>
          </h4>
        </center>

        <div>
          <a href="{% url 'LIVE' %}"><button class="btn btn-primary" type="submit">CBB Live</button></a>
          <a href="{% url 'home-main' %}"><button class="btn btn-primary" type="submit">Home</button><br /></a>
          <a href="{% url 'updatelist' %}"><button class="btn btn-primary" type="submit">Update</button></a>
          <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">More</button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'scd-home' %}">Schedules</a></li>
                <li><a class="dropdown-item" href="{% url 'clockedIn' %}">Not Clocked In</a></li>
                <li><a class="dropdown-item" href="#">Something</a></li>
              </ul>
          </div>
        </div>

        <div>
          <button class="btn btn-primary" type="submit">Support</button>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">logout</button>
          </form>
         
            <img
              src="{% static 'hp/qrCode.png'%}"
              alt=""
              style="width: 150px"
            />
        </div>
      </div>
    </div>

    {% else %} {% block login %} {% endblock %} {% endif%}

    <div class="continer-fluid main" style="height: 100vh; overflow-y: scroll; overflow-x: hidden;">
      {% block contentlogout %} {% endblock %} {% block content %} {% endblock%}
      {% block contentt %} {% endblock %}
    </div>


    <footer class="d-flex justify-content-center footer">
      <a href="http://jashandeep.co.uk">© 2024. All rights reserved jashandeep.co.uk</a>
    </footer>


    <script>
      let workorders={{sList|safe}}
    </script>
    <script src="{% static 'workOrderReports/Autocomplete.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      function mclose() {
        const messageBox = document.getElementById("toast");
        messageBox.remove();
      }
    </script>
  </body>
</html>

