{% extends 'hp/base.html' %} 
{% load static%}
{% block content%}
<div class="d-flex gap-2 justify-content-center py-2 bg-light shadow-sm m-2 rounded-4 opacity-75">
    <a  class="btn btn-outline-primary rounded-3 px-3" href="{% url 'LIVE'%}">CBB LIVE</a>
    <a  class="btn btn-outline-primary rounded-3 px-3" href="{% url 'permissiondenied'%}">Estimates</a>
    <a  class="btn btn-outline-primary rounded-3 px-3" href="{% url 'scd-home'%}">Schedules</a>
    <a  class="btn btn-outline-primary rounded-3 px-3" href="{% url 'clockedIn'%}">Not Clocked In</a>
    <a  class="btn btn-outline-primary rounded-3 px-3" href="{% url 'incomingInspection'%}">Incoming Inspection</a>
    <a  class="btn btn-outline-primary rounded-3 px-3" href="{% url 'permissiondenied'%}">Reports</a>
    <a  class="btn btn-outline-primary rounded-3 px-3" href="{% url 'permissiondenied'%}">Primary</a>
    <a  class="btn btn-outline-primary rounded-3 px-3" href="{% url 'permissiondenied'%}">Primary</a>
    <a  class="btn btn-outline-primary rounded-3 px-3" href="{% url 'permissiondenied'%}">Primary</a>
  </div>


{% endblock %}
